
@{
    ViewData["Title"] = "InProcess";
}

<h1>Дальнейшая работа сайта в разработке</h1>
<img src='@Url.Content("~/servicedata/")icon-car.png' class="card-img-top"
     style="aspect-ratio: 1/1;" alt="...">
